.container{
    margin-bottom: 100px;
}
button{
    border: none;
    border-radius: 7px;
    padding: 9px 15px;
    color: antiquewhite;
    background-color: black;
    cursor: pointer;
}
.bg{
    background-color: lightcyan;
}
.navbar{
    border-radius: 10px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategray;
    text-align: center;
}
.see-all{
    color: goldenrod;
    font-weight: bold;
    cursor: pointer;
}
.Categories{
    text-align: center;
}
.category-iteam{
    border-radius: 20px;    
}
footer{
    text-align: center;
}
