.container{
    margin-bottom: 100px;
}
button{
    border: none;
    border-radius: 7px;
    padding: 9px 15px;
    color: antiquewhite;
    background-color: black;
    cursor: pointer;
}
.bg{
    background-color: lightcyan;
}
.navbar{
    border-radius: 10px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategray;
    text-align: center;
}
.see-all{
    color: goldenrod;
    font-weight: bold;
    cursor: pointer;
}
.Categories{
    text-align: center;
    border-bottom: 7px solid;
    border-image: linear-gradient( to right, goldenrod, rgb(248, 121, 3)) ;
    border-image-slice: 1;
    width: max-content;
}
.category-iteam{
    border-radius: 20px;
    cursor: pointer;    
}
footer{
    text-align: center;
}
